<a href="https://colab.research.google.com/github/TAlchemist/python-bites/blob/main/Bites/Bite6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bite 6: Looping in python

[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Curbal-Data-Labs/python-bites/blob/main/Bites/Bite6.ipynb)

### Video tutorial and Bite 6 available [here](https://curbal.com/curbal-learning-portal/bite-6)

[![Bite 1](https://img.youtube.com/vi/KWTLqS02g4o/0.jpg)](https://www.youtube.com/watch?v=KWTLqS02g4o)

**1.** Let's create a loop from the question on bite 5

In [ ]:
 inspect_table = input("\nWhich table would you like see?\n"
          "\nType 1 for the crime Scene Report table"
          "\nType 2 for the drivers License table"
          "\nType 3 for the facebook event checkin table"
          "\nType 4 for the interview table"
          "\nType 5 for the get_fit_now_memeber table"
          "\nType 6 for the get fit now check in table"
          "\nType 7 for the income table"
          "\nType 8 for the person table\n")

**2.** List of 1-8 numbers

In [ ]:
n = range(9)
list(n)
n2 = range(1,9)
list(n2)

[1, 2, 3, 4, 5, 6, 7, 8]

**3.** Loop over the list with Type in front

In [ ]:
for nr in n2:
    print("Type " + str(nr))

Type 1
Type 2
Type 3
Type 4
Type 5
Type 6
Type 7
Type 8

**4.** Get the table names from the database

In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(r'C:\Users\Ruth Pozuelo\Documents\GitHub\local-python-game\Data\murder-mystery.db')
#List all tables in dB and convert them to a list
df_tbl= pd.read_sql_query('SELECT name from sqlite_master where type= "table"',conn)

df_tbl['proper_name'] = df_tbl.name
df_tbl.proper_name= df_tbl.proper_name.str.replace('_', ' ').str.title()
df_proper =df_tbl.proper_name.tolist()   #convert to list
df_name = df_tbl.name
df_name

0        crime_scene_report
1           drivers_license
2    facebook_event_checkin
3                 interview
4        get_fit_now_member
5      get_fit_now_check_in
6                  solution
7                    income
8                    person
Name: name, dtype: object

**5.** Loop over all the tables and append it to one big table to create our db schema

In [ ]:
n3 = range(1,9)

print("Type 0 for all tables.")
for nr, tbl in zip(n3, df_proper):   
    print("Type " + str(nr) + " for the " + tbl + " table.")

Type 0 for all tables.
Type 1 for the Crime Scene Report table.
Type 2 for the Drivers License table.
Type 3 for the Facebook Event Checkin table.
Type 4 for the Interview table.
Type 5 for the Get Fit Now Member table.
Type 6 for the Get Fit Now Check In table.
Type 7 for the Solution table.
Type 8 for the Income table.

**6.**  Loop over all tables info and create one table that contains all columns and info

In [ ]:
result_list = []
for tbl_name in df_name:
    result = pd.read_sql_query( "PRAGMA table_info('%s')" %  tbl_name, conn)
    result["table_name"] = tbl_name
    result_list.append(result)

final_result = pd.concat(result_list)
schema = print(final_result.to_markdown())
schema

|    |   cid | name                  | type    |   notnull | dflt_value   |   pk | table_name             |
|---:|------:|:----------------------|:--------|----------:|:-------------|-----:|:-----------------------|
|  0 |     0 | date                  | INTEGER |         0 |              |    0 | crime_scene_report     |
|  1 |     1 | type                  | TEXT    |         0 |              |    0 | crime_scene_report     |
|  2 |     2 | description           | TEXT    |         0 |              |    0 | crime_scene_report     |
|  3 |     3 | city                  | TEXT    |         0 |              |    0 | crime_scene_report     |
|  0 |     0 | id                    | INTEGER |         0 |              |    1 | drivers_license        |
|  1 |     1 | age                   | INTEGER |         0 |              |    0 | drivers_license        |
|  2 |     2 | height                | INTEGER |         0 |              |    0 | drivers_license        |
|  3 |     3 | eye_color             | TEXT    |         0 |              |    0 | drivers_license        |
|  4 |     4 | hair_color            | TEXT    |         0 |              |    0 | drivers_license        |
|  5 |     5 | gender                | TEXT    |         0 |              |    0 | drivers_license        |
|  6 |     6 | plate_number          | TEXT    |         0 |              |    0 | drivers_license        |
|  7 |     7 | car_make              | TEXT    |         0 |              |    0 | drivers_license        |
|  8 |     8 | car_model             | TEXT    |         0 |              |    0 | drivers_license        |
|  0 |     0 | person_id             | INTEGER |         0 |              |    0 | facebook_event_checkin |
|  1 |     1 | event_id              | INTEGER |         0 |              |    0 | facebook_event_checkin |
|  2 |     2 | event_name            | TEXT    |         0 |              |    0 | facebook_event_checkin |
|  3 |     3 | date                  | INTEGER |         0 |              |    0 | facebook_event_checkin |
|  0 |     0 | person_id             | INTEGER |         0 |              |    0 | interview              |
|  1 |     1 | transcript            | TEXT    |         0 |              |    0 | interview              |
|  0 |     0 | id                    | TEXT    |         0 |              |    1 | get_fit_now_member     |
|  1 |     1 | person_id             | INTEGER |         0 |              |    0 | get_fit_now_member     |
|  2 |     2 | name                  | TEXT    |         0 |              |    0 | get_fit_now_member     |
|  3 |     3 | membership_start_date | INTEGER |         0 |              |    0 | get_fit_now_member     |
|  4 |     4 | membership_status     | TEXT    |         0 |              |    0 | get_fit_now_member     |
|  0 |     0 | membership_id         | TEXT    |         0 |              |    0 | get_fit_now_check_in   |
|  1 |     1 | check_in_date         | INTEGER |         0 |              |    0 | get_fit_now_check_in   |
|  2 |     2 | check_in_time         | INTEGER |         0 |              |    0 | get_fit_now_check_in   |
|  3 |     3 | check_out_time        | INTEGER |         0 |              |    0 | get_fit_now_check_in   |
|  0 |     0 | user                  | INTEGER |         0 |              |    0 | solution               |
|  1 |     1 | value                 | TEXT    |         0 |              |    0 | solution               |
|  0 |     0 | ssn                   | CHAR    |         0 |              |    1 | income                 |
|  1 |     1 | annual_income         | INTEGER |         0 |              |    0 | income                 |
|  0 |     0 | id                    | INTEGER |         0 |              |    1 | person                 |
|  1 |     1 | name                  | TEXT    |         0 |              |    0 | person                 |
|  2 |     2 | license_id            | INTEGER |         0 |              |    0 | person                 |
|  3 |     3 | address_number        | INTEGER |         0 |              |    0 | person                 |
|  4 |     4 | address_street_name   | TEXT    |         0 |              |    0 | person                 |
|  5 |     5 | ssn                   | CHAR    |         0 |              |    0 | person                 |

**7.** User input validation with try except

In [ ]:
n3 = range(1,9)

while True:
    print("Which table would you like see?\n")
    print("Type 0 for all tables.")
    for nr, tbl in zip(n3, df_proper):   
        print("Type " + str(nr) + " for the " + tbl + " table.")
    inspect_table = input()
    
    try:
        if int(inspect_table) not in range(9):
            print("\nSorry, wrong answer. Only numbers from 1 to 8 allowed. Try again!\n")
            continue
        else:
            break
    except:
        print("\nSorry, wrong answer. Only numbers from 1 to 8 allowed. Try again!\n")
        continue

Which table would you like see?

Type 0 for all tables.
Type 1 for the Crime Scene Report table.
Type 2 for the Drivers License table.
Type 3 for the Facebook Event Checkin table.
Type 4 for the Interview table.
Type 5 for the Get Fit Now Member table.
Type 6 for the Get Fit Now Check In table.
Type 7 for the Solution table.
Type 8 for the Income table.

 12

Sorry, wrong answer. Only numbers from 1 to 8 allowed. Try again!

Which table would you like see?

Type 0 for all tables.
Type 1 for the Crime Scene Report table.
Type 2 for the Drivers License table.
Type 3 for the Facebook Event Checkin table.
Type 4 for the Interview table.
Type 5 for the Get Fit Now Member table.
Type 6 for the Get Fit Now Check In table.
Type 7 for the Solution table.
Type 8 for the Income table.

 r

Sorry, wrong answer. Only numbers from 1 to 8 allowed. Try again!

Which table would you like see?

Type 0 for all tables.
Type 1 for the Crime Scene Report table.
Type 2 for the Drivers License table.
Type 3 for the Facebook Event Checkin table.
Type 4 for the Interview table.
Type 5 for the Get Fit Now Member table.
Type 6 for the Get Fit Now Check In table.
Type 7 for the Solution table.
Type 8 for the Income table.

 r

Sorry, wrong answer. Only numbers from 1 to 8 allowed. Try again!

Which table would you like see?

Type 0 for all tables.
Type 1 for the Crime Scene Report table.
Type 2 for the Drivers License table.
Type 3 for the Facebook Event Checkin table.
Type 4 for the Interview table.
Type 5 for the Get Fit Now Member table.
Type 6 for the Get Fit Now Check In table.
Type 7 for the Solution table.
Type 8 for the Income table.

 3

# Bite 6: Put the game together as shown in website

https://curbal.com/curbal-learning-portal/bite-6

In [ ]:
import sqlite3
import pandas as pd

def intro():
    print("\nA crime has taken place and Curbal Crime Labs (CCL) needs your help.\n" 
      "The crime is a murder that occurred sometime on Jan.15, 2018.\n"
      "and a crime data analyst or curbalist as we call it at CCL,\n"
      "is needed to help solve the case.\n"
      "\nAll the crime files will be provided to you\n"
      "but before we do that:\n")

def username():
    while True:

        Accept_challenge = input("Do you accept the challenge? (y/n)\n")

        if Accept_challenge.lower().strip() != "y" and Accept_challenge.lower().strip() != "n":   
            print("Only yes or no answers are allowed, please try again.\n")
            continue
        else:
            break

    if Accept_challenge.lower().strip() == "y":
        Participant = input("\nWhat is your name?\n")
        print("\nHi "+Participant.title() + "! Welcome to Curbal Crime Labs. "
        "\nLet's get you inciated!\n")
    elif Accept_challenge.lower().strip() == "n":
        print("\nBye, bye.")


def get_data():
    #read the db
    global df_tbl
    global conn
    conn = sqlite3.connect(r'C:\Users\Ruth Pozuelo\Documents\GitHub\local-python-game\Data\murder-mystery.db')
    #List all tables in dB and convert them to a list
    df_tbl= pd.read_sql_query('SELECT name from sqlite_master where type= "table"',conn)

    df_tbl['proper_name'] = df_tbl.name
    df_tbl.proper_name= df_tbl.proper_name.str.replace('_', ' ').str.title()
    df_proper =df_tbl.proper_name.tolist()   #convert to list
    df_name = df_tbl.name

def get_all_tables():
    
    global schema
    result_list = []
    for tbl_name in df_name:
        result = pd.read_sql_query( "PRAGMA table_info('%s')" %  tbl_name, conn)
        result["table_name"] = tbl_name
        result_list.append(result)

    final_result = pd.concat(result_list)
    schema = print(final_result.to_markdown())
    schema

def get_x_info(tbl_name):    
    #Loop over all the tables, get the table info and append it to a big table
    result = pd.read_sql_query("PRAGMA table_info('%s')" %  tbl_name,conn) 
    result["table_name"] = tbl_name
    scheme_tabular = print(result)
    


intro()
username()

print("\nTo be able to solve this murder, you will need to familiarize yourself\n"
      "with our crime database. The following tables are available to your disposal:\n")

get_data()
list(map(print, df_proper))
print("\nLet's explore those tables before moving forward.")


while True:
    while True:
        n = range(1,9)
        print("Which table would you like see?\n")
        print("Type 0 for all tables.")
        for nr, tbl in zip(n, df_proper):   
            print("Type " + str(nr) + " for the " + tbl + " table.")
        inspect_table = input()

        try:
            if int(inspect_table) not in range(9):
                print("\nSorry, wrong answer. Only numbers from 1 to 8 allowed. Try again!\n")
                continue
            else:
                break
        except:
            print("\nSorry, wrong answer. Only numbers from 1 to 8 allowed. Try again!\n")
            continue

     #show the entire table
    if str(inspect_table) == "0":               
        print("\n Here you have all tables and columns.")
        get_all_tables()
        more_help =input( "\n There you go, need more help? (y/n)?\n").lower().strip()
        if more_help =="y":
            continue
    
    #looop the tables            
    for i,tbl in zip(n, df_name):
        if str(inspect_table) == str(i):               
            print("\n Here you have the " + tbl + " table:\n")
            get_x_info(tbl)
            while True:
                more_help =input( "\n There you go, need more help? (y/n)?\n").lower().strip()
                if more_help !='y' and more_help !='n':
                    print("\nSorry, wrong answer. Only 'y' or 'n' answers allowed. Try again!")
                    continue
                else:
                    break
              
    if more_help =="y":
        continue
    elif more_help =="n":
        print("Great ,let's do something else!")
        break

A crime has taken place and Curbal Crime Labs (CCL) needs your help.
The crime is a murder that occurred sometime on Jan.15, 2018.
and a crime data analyst or curbalist as we call it at CCL,
is needed to help solve the case.

All the crime files will be provided to you
but before we do that:

Do you accept the challenge? (y/n)
 y

What is your name?
 ruth

Hi Ruth! Welcome to Curbal Crime Labs.
Let's get you inciated!


To be able to solve this murder, you will need to familiarize yourself
with our crime database. The following tables are available to your disposal:

Crime Scene Report
Drivers License
Facebook Event Checkin
Interview
Get Fit Now Member
Get Fit Now Check In
Solution
Income
Person

Let's explore those tables before moving forward.
Which table would you like see?

Type 0 for all tables.
Type 1 for the Crime Scene Report table.
Type 2 for the Drivers License table.
Type 3 for the Facebook Event Checkin table.
Type 4 for the Interview table.
Type 5 for the Get Fit Now Member table.
Type 6 for the Get Fit Now Check In table.
Type 7 for the Solution table.
Type 8 for the Income table.

 0

 Here you have all tables and columns.
|    |   cid | name                  | type    |   notnull | dflt_value   |   pk | table_name             |
|---:|------:|:----------------------|:--------|----------:|:-------------|-----:|:-----------------------|
|  0 |     0 | date                  | INTEGER |         0 |              |    0 | crime_scene_report     |
|  1 |     1 | type                  | TEXT    |         0 |              |    0 | crime_scene_report     |
|  2 |     2 | description           | TEXT    |         0 |              |    0 | crime_scene_report     |
|  3 |     3 | city                  | TEXT    |         0 |              |    0 | crime_scene_report     |
|  0 |     0 | id                    | INTEGER |         0 |              |    1 | drivers_license        |
|  1 |     1 | age                   | INTEGER |         0 |              |    0 | drivers_license        |
|  2 |     2 | height                | INTEGER |         0 |              |    0 | drivers_license        |
|  3 |     3 | eye_color             | TEXT    |         0 |              |    0 | drivers_license        |
|  4 |     4 | hair_color            | TEXT    |         0 |              |    0 | drivers_license        |
|  5 |     5 | gender                | TEXT    |         0 |              |    0 | drivers_license        |
|  6 |     6 | plate_number          | TEXT    |         0 |              |    0 | drivers_license        |
|  7 |     7 | car_make              | TEXT    |         0 |              |    0 | drivers_license        |
|  8 |     8 | car_model             | TEXT    |         0 |              |    0 | drivers_license        |
|  0 |     0 | person_id             | INTEGER |         0 |              |    0 | facebook_event_checkin |
|  1 |     1 | event_id              | INTEGER |         0 |              |    0 | facebook_event_checkin |
|  2 |     2 | event_name            | TEXT    |         0 |              |    0 | facebook_event_checkin |
|  3 |     3 | date                  | INTEGER |         0 |              |    0 | facebook_event_checkin |
|  0 |     0 | person_id             | INTEGER |         0 |              |    0 | interview              |
|  1 |     1 | transcript            | TEXT    |         0 |              |    0 | interview              |
|  0 |     0 | id                    | TEXT    |         0 |              |    1 | get_fit_now_member     |
|  1 |     1 | person_id             | INTEGER |         0 |              |    0 | get_fit_now_member     |
|  2 |     2 | name                  | TEXT    |         0 |              |    0 | get_fit_now_member     |
|  3 |     3 | membership_start_date | INTEGER |         0 |              |    0 | get_fit_now_member     |
|  4 |     4 | membership_status     | TEXT    |         0 |              |    0 | get_fit_now_member     |
|  0 |     0 | membership_id         | TEXT    |         0 |              |    0 | get_fit_now_check_in   |
|  1 |     1 | check_in_date         | INTEGER |         0 |              |    0 | get_fit_now_check_in   |
|  2 |     2 | check_in_time         | INTEGER |         0 |              |    0 | get_fit_now_check_in   |
|  3 |     3 | check_out_time        | INTEGER |         0 |              |    0 | get_fit_now_check_in   |
|  0 |     0 | user                  | INTEGER |         0 |              |    0 | solution               |
|  1 |     1 | value                 | TEXT    |         0 |              |    0 | solution               |
|  0 |     0 | ssn                   | CHAR    |         0 |              |    1 | income                 |
|  1 |     1 | annual_income         | INTEGER |         0 |              |    0 | income                 |
|  0 |     0 | id                    | INTEGER |         0 |              |    1 | person                 |
|  1 |     1 | name                  | TEXT    |         0 |              |    0 | person                 |
|  2 |     2 | license_id            | INTEGER |         0 |              |    0 | person                 |
|  3 |     3 | address_number        | INTEGER |         0 |              |    0 | person                 |
|  4 |     4 | address_street_name   | TEXT    |         0 |              |    0 | person                 |
|  5 |     5 | ssn                   | CHAR    |         0 |              |    0 | person                 |

 There you go, need more help? (y/n)?
 y

Which table would you like see?

Type 0 for all tables.
Type 1 for the Crime Scene Report table.
Type 2 for the Drivers License table.
Type 3 for the Facebook Event Checkin table.
Type 4 for the Interview table.
Type 5 for the Get Fit Now Member table.
Type 6 for the Get Fit Now Check In table.
Type 7 for the Solution table.
Type 8 for the Income table.

 3

 Here you have the facebook_event_checkin table:

   cid        name     type  notnull dflt_value  pk              table_name
0    0   person_id  INTEGER        0       None   0  facebook_event_checkin
1    1    event_id  INTEGER        0       None   0  facebook_event_checkin
2    2  event_name     TEXT        0       None   0  facebook_event_checkin
3    3        date  INTEGER        0       None   0  facebook_event_checkin

 There you go, need more help? (y/n)?
 y

Which table would you like see?

Type 0 for all tables.
Type 1 for the Crime Scene Report table.
Type 2 for the Drivers License table.
Type 3 for the Facebook Event Checkin table.
Type 4 for the Interview table.
Type 5 for the Get Fit Now Member table.
Type 6 for the Get Fit Now Check In table.
Type 7 for the Solution table.
Type 8 for the Income table.

 5

 Here you have the get_fit_now_member table:

   cid                   name     type  notnull dflt_value  pk  \
0    0                     id     TEXT        0       None   1
1    1              person_id  INTEGER        0       None   0
2    2                   name     TEXT        0       None   0
3    3  membership_start_date  INTEGER        0       None   0
4    4      membership_status     TEXT        0       None   0

           table_name
0  get_fit_now_member
1  get_fit_now_member
2  get_fit_now_member
3  get_fit_now_member
4  get_fit_now_member

 There you go, need more help? (y/n)?
 n

Great ,let's do something else!