<a href="https://colab.research.google.com/github/TAlchemist/python-bites/blob/main/Bites/Bite5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bite 5 Connect to a database, drop and query tables and convert them to a Pandas dataframe

[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/Curbal-Data-Labs/python-bites/blob/main/Bites/Bite5.ipynb)

### Video tutorial and Bite 5 available [here](https://curbal.com/curbal-learning-portal/bite-5)

[![Bite 1](https://img.youtube.com/vi/TZEueZc3hk8/0.jpg)](https://www.youtube.com/watch?v=TZEueZc3hk8)

**1.** Import sql3 and pandas

**2.** Read the db and drop the solution table

**3.** Read Crime scene and convert to pandas

**4.** Get the info from Person table, convert it to a dataframe and add the table name

**5.** Loop over all the tables and append it to one big table to create our db schema

# Bite 5: Ask the user to query the tables as shown on the webpage

https://curbal.com/curbal-learning-portal/bite-5